/*
------------------------------------------------------------
ANIMATED BUTTON
------------------------------------------------------------
*/



.animated-nav-button {
    margin-top:  10px;
}
.animated-nav-button a {
  color: white;
  padding: 0.2em calc(0.7em * 1.2);
  display: inline-block;
  border: 1px solid transparent;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  letter-spacing: 0.07em;
}
.animated-nav-button a .text {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;    
  -webkit-transform: translate3d(0, 0.2em, 0);
          transform: translate3d(0, 0.2em, 0);
  display: block;
  transition: -webkit-transform 0.2s cubic-bezier(0.2, 0, 0, 1) 0.2s;
  transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1) 0.2s;
  transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1) 0.2s, -webkit-transform 0.2s cubic-bezier(0.2, 0, 0, 1) 0.2s;
}
.animated-nav-button a .text:hover{
    color: #FFF;
    transition: -webkit-transform 0.5s cubic-bezier(0.2, 0, 0, 1) 0.2s;
    cursor: pointer;
}

/* .animated-nav-button a.active-nav .text{
  font-size: 1.2rem;
} */



.animated-nav-button a:after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 1px;

  transition: right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, left 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.37, 1) 0.2s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, left 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, left 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.37, 1) 0.2s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.animated-nav-button a.active-nav:after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: calc(0.7em * 1);
  right: calc(0.7em * 1);
  height: 1px;
  background:  #eee;
  transition: right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, left 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.37, 1) 0.2s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, left 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, left 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.37, 1) 0.2s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.animated-nav-button .line {
  position: absolute;
  background: #eee;
}

.animated-nav-button .line.-bottom {
  height: 1px;
  left: -1px;
  right: -1px;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
}

.animated-nav-button .line.-bottom {
  bottom: -1px;
  transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01), -webkit-transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.animated-nav-button a:hover .text,
.animated-nav-button a:active .text {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform 0.3s cubic-bezier(0.2, 0, 0, 1) 0.2s;
  transition: transform 0.3s cubic-bezier(0.2, 0, 0, 1) 0.2s;
  transition: transform 0.3s cubic-bezier(0.2, 0, 0, 1) 0.2s, -webkit-transform 0.3s cubic-bezier(0.2, 0, 0, 1) 0.2s;
  cursor: pointer;
}
.animated-nav-button a:hover:after,
.animated-nav-button a:active:after {
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  right: -1px;
  left: -1px;
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s, -webkit-transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s;
  cursor: pointer;
}
.animated-nav-button a:hover .line,
.animated-nav-button a:active .line {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  cursor: pointer;
}

.animated-nav-button a:hover .line.-bottom,
.animated-nav-button a:active .line.-bottom {
  transition: -webkit-transform 0.2s cubic-bezier(0, 0.53, 0.29, 1);
  transition: transform 0.2s cubic-bezier(0, 0.53, 0.29, 1) ;
  transition: transform 0.2s cubic-bezier(0, 0.53, 0.29, 1) , -webkit-transform 0.2s cubic-bezier(0, 0.53, 0.29, 1) ;
  -webkit-transform-origin: left;
          transform-origin: left;
  cursor: pointer;
}