.site-footer {
    background: #fff;
    height: 100px;
    color: #000;
}

.site-footer .overview {
    /* padding            : 10px 10px; */

    text-align         : center;
    text-decoration    : none;

    float:right;margin : 30px;
    font-size: 1rem;
}

.site-footer nav {
    float       : left;

    margin      : 30px;

    line-height : 1.8;
    font-size: 1rem;
}

.site-footer nav ul {
    margin          : 0;
    padding         : 0;

    list-style-type : none;
}

.site-footer nav ul li {
    display : inline;
    padding : 0px 10px;
}

.other-project {
    cursor: pointer;
    border-radius: 5px;
    transition : all 0.2s ease;
}

.other-project :hover {
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.09);
    transform: scale(1.05);
    transition : all 0.2s ease;
}

footer path{
    fill: #333;
}

@media screen and (max-width: 768px) {
    .site-footer .overview{
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .site-footer .overview{
        font-size: 12px;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .site-footer nav {
        padding: 10px 50px;
        margin: auto;
    }

    .site-footer nav ul li {
        padding : 0px 7vw;
    }
}