/*
------------------------------------------------------------
LOADING OVERLAY
------------------------------------------------------------
*/
.loading-overlay{
    position : fixed;
    display     : flex;
    z-index     : 100000;

    overflow    : hidden;
    height      : 100%;
    width       : 100%;

    background  : rgba(17, 17, 17, 0.99);

    align-items : center;
}

.loading-logo-holder{
    position    : absolute;
    display     : block;
    z-index     : 10;

    width: 70px;
    margin      : 0 auto;
    margin-top  : 0%;
    margin-left : 48%;
}

#loading-scroll-X {
    position                   : relative;
    display                    : block;

    width                      : 50%;
    margin                     : 0 auto;
    margin-top                 : 10%;
    padding                    : 0;

    border-top                 : 1px solid;

    animation-name             : scroll-bounce-X;
    animation-duration         : 3s;
    animation-iteration-count  : infinite;
    transition-timing-function : cubic-bezier(.37,.01,0,.98);
}

/*
#loading-circle {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 30%;
    border-top: 1px solid;
    padding: 0;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s cubic-bezier(.37,.01,0,.98) infinite;
    transform-origin: center center;
    
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
    transform: scale(1);
  }
  to {
    stroke-dashoffset: 0;
    transform: scale(1);
  }
}
*/

#loading-ripple {
    position           : absolute;
    display            : block;

    height             : 300px;
    width              : 300px;
    margin             : 0 auto;
    margin-top         : 150px;
    margin-left        : 50%;

    -webkit-transition : height .25s ease, width .25s ease;
    transition         : height .25s ease, width .25s ease;
    -webkit-transform  : translate(-50%,-50%);
    transform          : translate(-50%,-50%);
}

#loading-ripple:before {
    content       : '';

    position      : absolute;
    display       : block;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;

    border        : 1px solid #F3F5F6;
    border-radius : 50%;
}

#loading-ripple:after {
    content       : '';

    position      : absolute;
    display       : block;
    top           : 0;
    right         : 0;
    bottom        : 0;
    left          : 0;

    border        : 1px solid #F3F5F6;
    border-radius : 50%;
}

#loading-ripple:before {
    -webkit-animation : ripple 2s cubic-bezier(.37,.01,0,.98) infinite;
    animation         : ripple 2s cubic-bezier(.37,.01,0,.98) infinite;
}

#loading-ripple:after {
    -webkit-animation : ripple 2s cubic-bezier(.37,.01,0,.98) 1s infinite;
    animation         : ripple 2s cubic-bezier(.37,.01,0,.98) 1s infinite;
}

#progess-container {
    margin: 20px;
    width: 400px;
    height: 8px;
}

.progress {
                height: 300px;
            }


.progress > svg {
                height: 100%;
                display: block;
            }


@-webkit-keyframes ripple{
    0% {-webkit-transform:scale(1); }

    75% {-webkit-transform:scale(1.75); opacity:1;}

    100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple{
    0% {transform:scale(1); }

    75% {transform:scale(1.75); opacity:1;}

    100% {transform:scale(2); opacity:0;}
}

@-webkit-keyframes f1_Animation{
    97.78%{opacity: 1;}

    98.89%{opacity: 0;}

    0%{opacity: 1;}

    100%{opacity: 0;}
}

@keyframes f1_Animation{
    97.78%{opacity: 1;}

    98.89%{opacity: 0;}

    0%{opacity: 1;}

    100%{opacity: 0;}
}

@-webkit-keyframes f2_Animation{
    64.44%{opacity: 1;}

    65.56%{opacity: 0;}

    0%{opacity: 1;}

    100%{opacity: 0;}
}

@keyframes f2_Animation{
    64.44%{opacity: 1;}

    65.56%{opacity: 0;}

    0%{opacity: 1;}

    100%{opacity: 0;}
}

@-webkit-keyframes f3_Animation{
    0%{opacity: 1;}

    31.11%{opacity: 1;}

    32.22%{opacity: 0;}

    100%{opacity: 0;}
}

@keyframes f3_Animation{
    0%{opacity: 1;}

    31.11%{opacity: 1;}

    32.22%{opacity: 0;}

    100%{opacity: 0;}
}

@-webkit-keyframes f4_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}
}

@keyframes f4_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}
}

@-webkit-keyframes f5_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}
}

@keyframes f5_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}
}

@-webkit-keyframes f1_uQ8qWl-yM_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}
}

@keyframes f1_uQ8qWl-yM_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}
}

@-webkit-keyframes f3_r0EGpbukH_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-10950px, 0px);}
}

@keyframes f3_r0EGpbukH_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-10950px, 0px);}
}

@-webkit-keyframes f2_D2MshhEiG_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);}
}

@keyframes f2_D2MshhEiG_Animation{
    0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}

    33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}

    66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}

    100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);}
}

#f2_D2MshhEiG{-webkit-animation-name: f2_D2MshhEiG_Animation;animation-name: f2_D2MshhEiG_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}

#f3_r0EGpbukH{-webkit-animation-name: f3_r0EGpbukH_Animation;animation-name: f3_r0EGpbukH_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}

#f1_uQ8qWl-yM{-webkit-animation-name: f1_uQ8qWl-yM_Animation;animation-name: f1_uQ8qWl-yM_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}

#f5{-webkit-animation-name: f5_Animation;animation-name: f5_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}

#f4{-webkit-animation-name: f4_Animation;animation-name: f4_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);}

#f3{-webkit-animation-name: f3_Animation;animation-name: f3_Animation;opacity: 1;}

#f2{-webkit-animation-name: f2_Animation;animation-name: f2_Animation;opacity: 1;}

#f1{-webkit-animation-name: f1_Animation;animation-name: f1_Animation;opacity: 1;}

#loading-logo *{
    -webkit-animation-duration        : 3s;
    animation-duration                : 3s;
    -webkit-animation-timing-function : cubic-bezier(0, 0, 1, 1);
    animation-timing-function         : cubic-bezier(0, 0, 1, 1);
    animation-delay                   : 1s;
    animation-iteration-count         : infinite;
}