
/* Type weight 100-900 in 100 increments; Medium is 500: http://www.webtype.com/info/articles/fonts-weights/ */
html { min-width: 300px; max-width: 1680px;}

html, body {
    touch-action : manipulation;
}

html {
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
    background  : #fff;
    font-family : Cera Pro, sans-serif;
    font-weight : 400;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering:optimizeLegibility;
    margin: 0;
}


a {
    font-family     : Cera Pro, sans-serif;
    font-weight     : normal;
    color           : #FFFFFF;
    text-decoration : none;
}

p {
    margin: 0px;
    line-height: 1.75;
}

button {
    background: none;
    border: 0;
}

img {
    object-fit: contain;
    width: 100%;
}






/*
------------------------------------------------------------
PAGE CONTENT
------------------------------------------------------------
*/



.page-content {
    display    : block;
    width      : 100%;
    margin     : auto;

    text-align : center;
    /* 700px (scroll duration) + 88px (extra footer) + row heights */
    height     : calc(888px + 650vh);
}

.page-content .tile-wide {
    padding : 0 0px 20px 0px;
}



.page-content .tile-wide {
    display          : block;

    margin           : 20px;

    background-color : #FFFFFF;
    color            : #111;
    text-align       : center;
}


.page-content .tile a, .page-content .tile-wide a {
    color           : #111;
    text-decoration : none;
}

.page-content .centered {
    vertical-align : middle;

    margin         : 0px;

    text-align     : center;
}

.page-content .center-padded {
    margin  : 0px;
    padding : 20px 0px 20px 0px;
}

.page-title {
    color:  #000;
    font-size: 64px;
    font-weight: 500;
    line-height: 1;
}

.head-title {
    color:  #1F55DF;
    /* background: -webkit-linear-gradient(#1F55DF, #002FFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 56px;
    font-weight: 500;
    line-height: 1;
}

.sub-title {
    color:  #1F55DF;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}

.title {
    line-height: 1;
}

.tile-wide {
    padding : 0 0px 20px 0px;
}

.box-text {
    width: 324px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -1.5px;
}

.box-constraint-437 {
    width: 437px;
}


.mini-title {
    font-family    : EuclidSquare, sans-serif;
    font-size      : 14px;
    font-weight    : 500;
    text-transform : uppercase;
    letter-spacing: 1px;
}

.mini-text {
    height      : 100%;
    width       : 100%;
    margin      : auto;
    font-size   : 0.9rem;
}

.immersive {
    margin  : 0;
    padding : 0;
}

.page-content .compressed-centered60 {
    display     : block;

    width       : 90%;
    margin      : auto;

    font-size   : 18px;
    box-sizing: border-box;
}

.left-align {
    text-align : left;
}

.center-align {
    text-align : center;
    margin: auto 0 !important;
}

.right-align {
    text-align : right;
}

.justfiy-align {
    text-align : justify;
}

.column-left {
  float: left;
  width: 50%;
  padding: 20px;
  padding-top: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.column-right {
  float: right;
  width: 50%;
  padding: 20px;
  padding-top: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.column {
    width: 100%;
    padding: 39px;
    padding-top: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row {
    height: 100%;
}

.row-left-padded {
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.relative{
    position: relative;
}

.fixed{
    position: fixed;
}

.vert-center {
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.focus-box {
    height: 90vh;
}

.img-shadow {
    box-shadow: 0px 0px 25px -5px #00000036;
    transition: all 0.5s ease;
    transition-delay:  1s;
}

.animated-nav-button a.active-nav:after {
    display: none;
}

#portfolio-holder-tile{
    transform: none !important;
}


#portfolio {
    width: 465px;
    height: 465px;
    background-color: #f9f9f9;
    border-radius: 15%;
    overflow: hidden;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    /* pre-req support for left */
    left: auto;
}

.panel-1 {
    top: 0px;
    display: block;
    width: 1680px;
    height: 100%;
    margin: auto;

}

#project-box .intro-box-dimensions {
    pointer-events: none;
}

#project-box .intro-box-dimensions > * {
    pointer-events: auto;
}

/* #project-box .intro-box-dimensions:hover > *:not(:hover) { */
.add-blur{
    filter:  blur(10px);
    transition: all 0.3s ease;
    -webkit-filter:  blur(10px); 
}

.add-effects {
    transition: all 0.3s ease;
    transform: scale(0.55) !important;
    z-index: 10000;
} 

#project-box .title{
    opacity: 0;
    font-size: 16px;
    /* letter-spacing: 2px; */
    font-weight: 400;
}


figure {
    position: absolute !important;
    margin: 0 !important;
}

.device-container {
    position: relative;
    top: -27px;
    left: -29px;
}

@media only screen and (max-width: 1024px) {
    .device-container {
        position: relative;
        top: -32px;
        /* left: -55px; */
    }
}



@media only screen and (max-width: 768px) {
    .device-container {
        position: relative;
        top: -31px;
        /* left: -52px; */
    }
}


.hardware, .screen {
    opacity: 0;
    display: none;
}

.postimg {
    display: block;
}

.postimgm {
    display: none;
}

.project-intro {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

#project-box {
    z-index: 1;
    position: absolute;
    width: 100%;
    transform: translate(-50%, -50%);
    display: block;
}

@media only screen and (max-width: 1024px) {
    #project-box {
        width: 100%;
    }
}

.project-box-dimension {
    width: 386px;
    height: 425px;
    position: fixed;
}

.project_canvas {
    background: #fff;
    border-radius:15%; 
    box-shadow: 20px 20px 60px 0px rgba(0, 0, 0, 0.11);
    position: absolute;
}

.panel {
    opacity: 0;
    height: 100vh;
}


/* Scroll down -> Portfolio */

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 7vh;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #333;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #333;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

.scroll-downs-text {
    position: absolute;
    right: 0;
    bottom: 3vh;
    left: 0;
    margin: auto;
}

@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100000;
    display: none;

    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.7);
}


.iframe-holder {
    position: relative;
    width: 80%;
    height: 0;
    margin: auto;
    padding-top: 28.13%;
    padding-bottom: 28.13%;
    top: 50%;
    transform: translateY(-50%);
}

.iframe-holder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
}

#overlay .close {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 1.45rem;
    top: 1.45rem;
}

#scroll-for-details {
    opacity: 0;
}

#scroll-for-details > .text{
    float: right; 
    margin-right: 3.45rem;
}
