/* Before Scroll */
.project_canvas.before-scroll.item-1 {
    top: -30px;
    left: 20px;
}

.project_canvas.before-scroll.item-2 {
    top: -68px;
    left: 60px

}

.project_canvas.before-scroll.item-3 {
    top: 0px;
    left: 581px;
}


.project_canvas.before-scroll.item-4 {
    top: 136px;
    left: 620px;
}

.project_canvas.before-scroll.item-5 {
    top: -250px;
    left: 620px
}

.project_canvas.before-scroll.item-6 {
    top: -30px;
    left: 1260px;
}

.project_canvas.before-scroll.item-7 {
    left: 110px;
    top: 321px;
    z-index: -1;
}


/* After Scroll */
.project_canvas.after-scroll {
    top: 0px;
    left: 0
}

@media only screen and (max-width: 1024px) {
    .project_canvas.after-scroll {
        top:0px;
        left: 0
    }
}

@media only screen and (max-width: 750px) {
    .project_canvas.after-scroll {
        top:0px;
        left: 0
    }
}






.screen {
    top: 17px !important;
    left: 22px !important;
}

@media only screen and (max-width: 1024px) {
    .screen.after-scroll {
        top:13px !important;
        left: 15px !important;
    }
}

@media only screen and (max-width: 750px) {
    .screen.after-scroll {
        top:12px !important;
        left: 12px !important;
    }
}

.ipad .screen {
    top: 17px !important;
    left: 22px !important;
}

@media only screen and (max-width: 1024px) {
    .ipad .screen.after-scroll {
        top: 22px !important;
        left: 20px !important;
    }
}

@media only screen and (max-width: 750px) {
    .ipad .screen.after-scroll {
        top: 13px !important;
        left: 13px !important;
    }
}




/* Hardware */
 .hardware-phone {
    width: 416px;
    height: 704px;
    background-size: 416px 704px;
    background-repeat: no-repeat;
    background-image: url("/images/ctrg/preview/hardware/hero_vert_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
     .hardware-phone.after-scroll {
        background-image:url("/images/ctrg/preview/hardware/hero_vert_large_2x.png")
    }
}

@media only screen and (max-width: 1024px) {
     .hardware-phone.after-scroll {
        width:272px;
        height: 460px;
        background-size: 272px 460px;
        background-repeat: no-repeat;
        background-image: url("/images/ctrg/preview/hardware/hero_vert_medium.png")
    }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (max-width: 1024px) and (min-resolution: 144dpi) {
     .hardware-phone.after-scroll {
        background-image:url("/images/ctrg/preview/hardware/hero_vert_medium_2x.png")
    }
}

@media only screen and (max-width: 750px) {
     .hardware-phone.after-scroll {
        width:248px;
        height: 420px;
        background-size: 248px 420px;
        background-repeat: no-repeat;
        background-image: url("/images/ctrg/preview/hardware/hero_vert_small.png")
    }
}

@media only screen and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 750px) and (min-resolution: 1.5dppx), only screen and (max-width: 750px) and (min-resolution: 144dpi) {
     .hardware-phone.after-scroll {
        background-image:url("/images/ctrg/preview/hardware/hero_vert_small_2x.png")
    }
}


.hardware-ipad {
    position: absolute;
    top: -15px !important;
    left: -10px !important;
    width: 1052px;
    height: 836px;
    background-size: 1052px 836px;
    background-repeat: no-repeat;
    background-image: url("/images/home/hardware/hardware_ipad_large.png")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .hardware-ipad.after-scroll {
        background-image:url("/images/home/hardware/hardware_ipad_large_2x.png")
    }
}

@media only screen and (max-width: 1024px) {
    .hardware-ipad.after-scroll {
        top: 0px !important;
        left: 0px !important;
        width:678px;
        height: 540px;
        background-size: 678px 540px;
        background-repeat: no-repeat;
        background-image: url("/images/home/hardware/hardware_ipad_medium.png")
    }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (max-width: 1024px) and (min-resolution: 144dpi) {
    .hardware-ipad.after-scroll {
        background-image:url("/images/home/hardware/hardware_ipad_medium_2x.png")
    }
}

@media only screen and (max-width: 750px) {
    .hardware-ipad.after-scroll {
        width:368px;
        height: 294px;
        background-size: 368px 294px;
        background-repeat: no-repeat;
        background-image: url("/images/home/hardware/hardware_ipad_small.png")
    }
}

@media only screen and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 750px) and (min-resolution: 1.5dppx), only screen and (max-width: 750px) and (min-resolution: 144dpi) {
    .hardware-ipad.after-scroll {
        background-image:url("/images/home/hardware/hardware_ipad_small_2x.png")
    }
}



.item-1 .screen {
    width: 262px;
    height: 568px;
    background-size: 262px 568px;
    background-repeat: no-repeat;
    background-image: url("/images/home/posts/ctrg/discover_1_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .item-1 .screen.after-scroll {
        background-image:url("/images/home/posts/ctrg/discover_1_large_2x.jpg")
    }
}

@media only screen and (max-width: 1024px) {
    .item-1 .screen.after-scroll {
        width:170px;
        height: 368px;
        background-size: 170px 368px;
        background-repeat: no-repeat;
        background-image: url("/images/home/posts/ctrg/discover_1_medium.jpg")
    }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (max-width: 1024px) and (min-resolution: 144dpi) {
    .item-1 .screen.after-scroll {
        background-image:url("/images/home/posts/ctrg/discover_1_medium_2x.jpg")
    }
}

@media only screen and (max-width: 750px) {
    .item-1 .screen.after-scroll {
        width:156px;
        height: 338px;
        background-size: 156px 338px;
        background-repeat: no-repeat;
        background-image: url("/images/home/posts/ctrg/discover_1_small.jpg")
    }
}

@media only screen and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 750px) and (min-resolution: 1.5dppx), only screen and (max-width: 750px) and (min-resolution: 144dpi) {
    .item-1 .screen.after-scroll {
        background-image:url("/images/home/posts/ctrg/discover_1_small_2x.jpg")
    }
}


.item-3 .screen {
    width: 262px;
    height: 568px;
    background-size: 262px 568px;
    background-repeat: no-repeat;
    background-image: url("/images/home/posts/cbc/cbc-mobile_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .item-3 .screen.after-scroll {
        background-image:url("/images/home/posts/cbc/cbc-mobile_large_2x.jpg")
    }
}

@media only screen and (max-width: 1024px) {
    .item-3 .screen.after-scroll {
        width:170px;
        height: 368px;
        background-size: 170px 368px;
        background-repeat: no-repeat;
        background-image: url("/images/home/posts/cbc/cbc-mobile_medium.jpg")
    }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (max-width: 1024px) and (min-resolution: 144dpi) {
    .item-3 .screen.after-scroll {
        background-image:url("/images/home/posts/cbc/cbc-mobile_medium_2x.jpg")
    }
}

@media only screen and (max-width: 750px) {
    .item-3 .screen.after-scroll {
        width:156px;
        height: 338px;
        background-size: 156px 338px;
        background-repeat: no-repeat;
        background-image: url("/images/home/posts/cbc/cbc-mobile_small.jpg")
    }
}

@media only screen and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 750px) and (min-resolution: 1.5dppx), only screen and (max-width: 750px) and (min-resolution: 144dpi) {
    .item-3 .screen.after-scroll {
        background-image:url("/images/home/posts/cbc/cbc-mobile_small_2x.jpg")
    }
}


.item-6 .screen {
    width: 262px;
    height: 568px;
    background-size: 262px 568px;
    background-repeat: no-repeat;
    background-image: url("/images/home/posts/go-class/go-class_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .item-6 .screen.after-scroll {
        background-image:url("/images/home/posts/go-class/go-class_large_2x.jpg")
    }
}

@media only screen and (max-width: 1024px) {
    .item-6 .screen.after-scroll {
        width:170px;
        height: 368px;
        background-size: 170px 368px;
        background-repeat: no-repeat;
        background-image: url("/images/home/posts/go-class/go-class_medium.jpg")
    }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (max-width: 1024px) and (min-resolution: 144dpi) {
    .item-6 .screen.after-scroll {
        background-image:url("/images/home/posts/go-class/go-class_medium_2x.jpg")
    }
}

@media only screen and (max-width: 750px) {
    .item-6 .screen.after-scroll {
        width:156px;
        height: 338px;
        background-size: 156px 338px;
        background-repeat: no-repeat;
        background-image: url("/images/home/posts/go-class/go-class_small.jpg")
    }
}

@media only screen and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 750px) and (min-resolution: 1.5dppx), only screen and (max-width: 750px) and (min-resolution: 144dpi) {
    .item-6 .screen.after-scroll {
        background-image:url("/images/home/posts/go-class/go-class_small_2x.jpg")
    }
}

.item-2 .screen {
    width: 862px;
    height: 647px;
    background-size: 862px 647px;
/*     width: 609px;
    height: 457px;
    background-size: 609px 457px; */
    background-repeat: no-repeat;
    background-image: url("/images/home/posts/cbc/cbc-ipad_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .item-2 .screen.after-scroll {
        
        background-image:url("/images/home/posts/cbc/cbc-ipad_large.jpg")
    }
}

@media only screen and (max-width: 1024px) {
    .item-2 .screen.after-scroll {
        width: 556px;
        height: 421px;
        background-size: 556px 421px;
        background-repeat:no-repeat;
        background-image: url("/images/home/posts/cbc/cbc_ipad_large.jpg")
    }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (max-width: 1024px) and (min-resolution: 144dpi) {
    .item-2 .screen.after-scroll {
        background-image:url("/images/home/posts/cbc/cbc-ipad_large.jpg")
    }
}

@media only screen and (max-width: 750px) {
    .item-2 .screen.after-scroll {
        background-repeat:no-repeat;
        background-image: url("/images/home/posts/cbc/cbc-ipad_large.jpg")
    }
}

@media only screen and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 750px) and (min-resolution: 1.5dppx), only screen and (max-width: 750px) and (min-resolution: 144dpi) {
    .item-2 .screen.after-scroll {
        top: 13px;
        left: 13px;
        width: 300px;
        height: 225px;
        background-size: 300px 225px;
        background-image:url("/images/home/posts/cbc/cbc-ipad_large.jpg")
    }
}


.item-4 .screen {
    width: 862px;
    height: 647px;
    background-size: 862px 647px;
    background-repeat: no-repeat;
    background-image: url("/images/home/posts/vae/vae-ipad_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .item-4 .screen.after-scroll {
        
        background-image:url("/images/home/posts/vae/vae-ipad_large_2x.jpg")
    }
}

@media only screen and (max-width: 1024px) {
    .item-4 .screen.after-scroll {
        width: 556px;
        height: 421px;
        background-size: 556px 421px;
        background-repeat:no-repeat;
        background-image: url("/images/home/posts/vae/vae-ipad_medium.jpg")
    }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (max-width: 1024px) and (min-resolution: 144dpi) {
    .item-4 .screen.after-scroll {
        background-image:url("/images/home/posts/vae/vae-ipad_medium_2x.jpg")
    }
}

@media only screen and (max-width: 750px) {
    .item-4 .screen.after-scroll {
        width: 300px;
        height: 225px;
        background-size: 300px 225px;
        background-repeat:no-repeat;
        background-image: url("/images/home/posts/vae/vae-ipad_small.jpg")
    }
}

@media only screen and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 750px) and (min-resolution: 1.5dppx), only screen and (max-width: 750px) and (min-resolution: 144dpi) {
    .item-4 .screen.after-scroll {
        background-image:url("/images/home/posts/vae/vae-ipad_small_2x.jpg")
    }
}

.item-5 .screen {
    width: 862px;
    height: 647px;
    background-size: 862px 647px;
    background-repeat: no-repeat;
    background-image: url("/images/home/posts/porter/porter-ipad_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .item-5 .screen.after-scroll {
        
        background-image:url("/images/home/posts/porter/porter-ipad_large_2x.jpg")
    }
}

@media only screen and (max-width: 1024px) {
    .item-5 .screen.after-scroll {
        width: 556px;
        height: 421px;
        background-size: 556px 421px;
        background-repeat:no-repeat;
        background-image: url("/images/home/posts/porter/porter-ipad_medium.jpg")
    }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (max-width: 1024px) and (min-resolution: 144dpi) {
    .item-5 .screen.after-scroll {
        background-image:url("/images/home/posts/porter/porter-ipad_medium_2x.jpg")
    }
}

@media only screen and (max-width: 750px) {
    .item-5 .screen.after-scroll {
        width: 300px;
        height: 225px;
        background-size: 300px 225px;
        background-repeat:no-repeat;
        background-image: url("/images/home/posts/porter/porter-ipad_small.jpg")
    }
}

@media only screen and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 750px) and (min-resolution: 1.5dppx), only screen and (max-width: 750px) and (min-resolution: 144dpi) {
    .item-5 .screen.after-scroll {
        background-image:url("/images/home/posts/porter/porter-ipad_small_2x.jpg")
    }
}


.item-7 .screen {
    width: 862px;
    height: 647px;
    background-size: 862px 647px;
    background-repeat: no-repeat;
    background-image: url("/images/home/posts/navar/navar_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .item-7 .screen.after-scroll {
        
        background-image:url("/images/home/posts/navar/navar_large_2x.jpg")
    }
}

@media only screen and (max-width: 1024px) {
    .item-7 .screen.after-scroll {
        width: 556px;
        height: 421px;
        background-size: 556px 421px;
        background-repeat:no-repeat;
        background-image: url("/images/home/posts/navar/navar_medium.jpg")
    }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1024px) and (min-resolution: 1.5dppx), only screen and (max-width: 1024px) and (min-resolution: 144dpi) {
    .item-7 .screen.after-scroll {
        background-image:url("/images/home/posts/navar/navar_medium_2x.jpg")
    }
}

@media only screen and (max-width: 750px) {
    .item-7 .screen.after-scroll {
        width: 300px;
        height: 225px;
        background-size: 300px 225px;
        background-repeat:no-repeat;
        background-image: url("/images/home/posts/navar/navar_small.jpg")
    }
}

@media only screen and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 750px) and (min-resolution: 1.5dppx), only screen and (max-width: 750px) and (min-resolution: 144dpi) {
    .item-7 .screen.after-scroll {
        background-image:url("/images/home/posts/navar/navar_small_2x.jpg")
    }
}