/* Type weight 100-900 in 100 increments; Medium is 500: http://www.webtype.com/info/articles/fonts-weights/ */
html { min-width: 1000px; }
body {  background: #e9edef; margin: 40px 0px 80px 0px; position: relative; font-family: CallunaLghtRegular, Georgia, serif; font-size: 1.188rem; color: #252B33;  font-weight: 400;}
html, body { touch-action: manipulation; }

a { color: #252B33; font-family: BebasNeueRegular, Helvetica Neue, arial, sans-serif; font-size: 1.500rem;font-weight: normal; }

.category, .title { font-family: BebasNeueRegular, Helvetica Neue, arial, sans-serif; font-size: 3.438rem; font-weight: normal; }
header .logo { max-width: 50px; float: left; margin-left: 70px; margin-top:20px;}
.site-title { letter-spacing: 1px; line-height: 1; display:inline-block; margin: 65px 0px 50px 50px;}
.site-title a { text-decoration: none; font-family: CallunaLghtRegular, Georgia, serif; font-size: 20px; text-align: center; }
header nav { float:right;  line-height: 1.8; margin: 50px 0px 50px 50px; }
header nav ul { margin: 0; padding: 0; list-style-type: none; }
header nav ul li {display: inline; }
header nav a { font-size: 1.500rem; font-weight: normal; line-height: 2.25rem;  text-decoration: none; margin: 50px 20px 50px 20px;}
header nav a:hover { color: #465160;  transition: all .3s linear;}
.active {border-bottom-style: solid; border-bottom-width:2px; padding-bottom: 1px; }
.grid { text-align: justify; }
.index-grid { text-align: center; display: block;}

.tint {	
  position: relative;
  margin: 0px;
  margin: 0px;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
	header .logo  { max-width:70px; margin-top: 0px; }
    .site-title {margin: 65px 0px 50px 180px ;}
    .site-title a{font-size:25px;}
}

@media (hover:hover) {
.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.2);
  transition: all .2s linear;
}
.tint:hover:before { content: normal; background: none; }
}


.page-content {  width: 100%; height:100%; margin:auto; display: block; text-align: center; margin-right: 30px;}
.page-content .category { font-size: 3.438rem; margin: 30px 0 30px 0; width: 100%; }
.page-content .tile   { background-color: #F3F5F6; display: inline-grid; margin: 20px; text-align: center; }
.page-content .tile-wide { background-color: #F3F5F6; display:block; margin: 20px; text-align: center; }
.page-content .tile a, .page-content .tile-wide a { text-decoration: none; }
.page-content .tile .title, .page-content .tile-wide .title { font-weight: normal; margin: 6px 0 4px 0; }
.page-content .tile .tags, .page-content .tile-wide .tags { color: #999; }
.page-content .tile { width: 45%; padding: 0 0px 20px 0px; }
.page-content .tile-wide { padding: 0 0px 20px 0px; }
.page-content .tile img { width:100%; height: 500px; object-fit: cover; }
.page-content .tile-wide img { width:100%; object-fit: fill; }
.page-content ul { margin: 0; padding: 0; list-style: none; }
.page-content .pres { float:right; width:400px; margin: 90px 0 50px 100px;}
.page-content .center-img {display: block;	margin-left: auto; margin-right: auto;}
.page-content .dark { background-color: #252B33; color:#F3F5F6;}
.page-content .dark a {color: #F3F5F6;}
.page-content .light a {color: #252B33;}
.page-content .padded { padding:10px 0px 10px 0px; }
.page-content .centered { margin:0px; text-align: center; vertical-align: middle; }
.page-content .center-padded { padding:150px 200px 150px 200px; margin: 0px; }
.page-content .center-padded-little { padding:20px 100px 20px 100px; margin: 0px; }
.page-content .box-text { line-height: 1.5; padding:250px 0px 150px 0px; }
.page-content .compressed-centered20 {width: 20%; display: block; margin: auto;  font-size: 1.500rem; line-height: 1.75;}
.page-content .compressed-centered40 {width: 40%; display: block; margin: auto;  font-size: 1.500rem; line-height: 1.75;}
.page-content .compressed-centered60 {width: 60%; display: block; margin: auto;  font-size: 1.500rem; line-height: 1.75;}
.page-content .large-title {width: 100%; height: 100%; margin:auto; font-size: 80px;line-height: 1.5}
.page-content .mini-title {width: 100%; height: 100%; margin:auto; font-size: 30px;line-height: 1.5}
.page-content .immersive {padding: 0; margin: 0;}
.page-content .left-align {text-align: left;}
.page-content .menu { margin: 0; padding: 0; list-style-type: none;  display: inline; }
.page-content .menu-item { cursor: pointer; display: inline; font-size: 1.500rem; font-weight: normal;  text-decoration: none; margin: 0px 40px 0px 40px;}
.page-content .menu-item .title {display: inline;}
.page-content .menu-item .active-item {color: #EE5250}
.page-content .menu-item :hover {color: #FF5250; transition: all .3s linear;}

.site-footer .overview { font-weight: bold; text-decoration: none; float:right;margin: 30px; padding: 10px 10px; text-align: center; }
.site-footer nav { float:left;  line-height: 1.8; margin: 30px; }
.site-footer nav ul { margin: 0; padding: 0; list-style-type: none; }
.site-footer nav ul li {display: inline; padding: 0px 10px;}
img { max-width: 100%; }

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

/* @group Typography */
   
   /* @group Custom Webfonts */
         	
	@font-face {
	    font-family: CallunaBold;
	    src: url('./webfonts/calluna-bold-webfont.eot');
	    src: url('./webfonts/calluna-bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('./webfonts/calluna-bold-webfont.woff') format('woff'),
	         url('./webfonts/calluna-bold-webfont.ttf') format('truetype'),
	         url('./webfonts/calluna-bold-webfont.svg#CallunaBold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: CallunaBoldItalic;
	    src: url('./webfonts/calluna-boldit-webfont.eot');
	    src: url('./webfonts/calluna-boldit-webfont.eot?#iefix') format('embedded-opentype'),
	         url('./webfonts/calluna-boldit-webfont.woff') format('woff'),
	         url('./webfonts/calluna-boldit-webfont.ttf') format('truetype'),
	         url('./webfonts/calluna-boldit-webfont.svg#CallunaBoldItalic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: CallunaItalic;
	    src: url('./webfonts/calluna-it-webfont.eot');
	    src: url('./webfonts/calluna-it-webfont.eot?#iefix') format('embedded-opentype'),
	         url('./webfonts/calluna-it-webfont.woff') format('woff'),
	         url('./webfonts/calluna-it-webfont.ttf') format('truetype'),
	         url('./webfonts/calluna-it-webfont.svg#CallunaItalic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: CallunaLghtRegular;
	    src: url('./webfonts/calluna-light-webfont.eot');
	    src: url('./webfonts/calluna-light-webfont.eot?#iefix') format('embedded-opentype'),
	         url('./webfonts/calluna-light-webfont.woff') format('woff'),
	         url('./webfonts/calluna-light-webfont.ttf') format('truetype'),
	         url('./webfonts/calluna-light-webfont.svg#CallunaLghtRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: CallunaRegular;
	    src: url('./webfonts/calluna-regular-webfont.eot');
	    src: url('./webfonts/calluna-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('./webfonts/calluna-regular-webfont.woff') format('woff'),
	         url('./webfonts/calluna-regular-webfont.ttf') format('truetype'),
	         url('./webfonts/calluna-regular-webfont.svg#CallunaRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: CallunaSmBdRegular;
	    src: url('./webfonts/calluna-semibold-webfont.eot');
	    src: url('./webfonts/calluna-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('./webfonts/calluna-semibold-webfont.woff') format('woff'),
	         url('./webfonts/calluna-semibold-webfont.ttf') format('truetype'),
	         url('./webfonts/calluna-semibold-webfont.svg#CallunaSmBdRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: CallunaSmBdItalic;
	    src: url('./webfonts/calluna-semiboldit-webfont.eot');
	    src: url('./webfonts/calluna-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
	         url('./webfonts/calluna-semiboldit-webfont.woff') format('woff'),
	         url('./webfonts/calluna-semiboldit-webfont.ttf') format('truetype'),
	         url('./webfonts/calluna-semiboldit-webfont.svg#CallunaSmBdItalic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: BebasNeueRegular;
	    src: url('./webfonts/BebasNeue-webfont.eot');
	    src: url('./webfonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
	         url('./webfonts/BebasNeue-webfont.woff') format('woff'),
	         url('./webfonts/BebasNeue-webfont.ttf') format('truetype'),
	         url('./webfonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}


	