/*
------------------------------------------------------------
MEDIA TAGS
------------------------------------------------------------
*/

@media (hover:hover) {
    .tint:before {
        content    : "";

        position   : absolute;
        display    : block;
        top        : 0;
        right      : 0;
        bottom     : 0;
        left       : 0;
        z-index    : 10;

        opacity    : 1;
        background : rgba(0,0,0, 0.1);

        transition : all .4s linear;
    }
    .tint:hover:before {
        z-index    : -1;

        opacity    : 0;
        background : none;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 1024px) and  (orientation:landscape){
     #portfolio {
        margin-top: -15vh;
    }

    .page-content .compressed-centered20 {
        width: 40%;
    }

    .page-content .compressed-centered40 {
        width: 60%;
    }

    .page-content .compressed-centered60, .slides-underlay .compressed-centered60 {
        width: 1008px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) and (orientation:portrait){
        /* styles for browsers larger than 1440px; */
    #portfolio {
        margin-top: -15vh;
    }

    .h-line.above {
        width: 75vw;
        margin-top: 17vh;
    }

    .h-line.below {
        margin-top: 83vh;
        width: 75vw;
    }

    .v-line.right {
        height: 100vh;
        margin-left: 86vw;
    }

    .v-line.left {
        margin-left: 14vw;
        height: 100vh;
    }
    
    .page-content .compressed-centered20 {
        width: 40%;
    }

    .page-content .compressed-centered40 {
        width: 50%;
    }

    .page-content .compressed-centered60, .slides-underlay .compressed-centered60 {
        width: 1008px;
    }

    .postimgm {
        display: block;
    }

    .postimg {
        display: none;
    }


    }

/* different techniques for iPad screening */

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape){
    #portfolio {
        margin-top: -17vh;
    }

    .h-line.above {
        width: 75vw;
        margin-top: 17vh;
    }

    .h-line.below {
        margin-top: 83vh;
        width: 75vw;
    }

    .v-line.right {
        height: 100vh;
        margin-left: 86vw;
    }

    .v-line.left {
        margin-left: 14vw;
        height: 100vh;
    }

    #menu li:hover {
        font-size: 30px;
    }

    .page-content .scrollto {
        height: 10px;
        padding-top: 0;
    }

   /*  #intro-text, #intro-text-back {
        padding: 300px 25px 300px 25px;
    }

    #intro-text-back {
        font-size: 25px;
    } */

    .postimgm {
        display: none;
    }

    .postimg {
        display: block;
    }

    .page-content .compressed-centered20 {
        width: 60%;
    }

    .page-content .compressed-centered40 {
        width: 65%;
    }

    .page-content .compressed-centered60, .slides-underlay .compressed-centered60 {
        width: 100%;
        font-size: 14px;
    }

    .page-content .center-padded {
        padding: 50px 50px 50px 50px;
    }

    .page-content .page-title{
        font-size: 40px;
    }

    .page-content .mini-title {
        font-size: 1.2rem;
    }



    .page-content .large-title {
        font-size: 48px;
    }

    .page-content .center-padded-little {
        padding: 20px 20px 20px 20px;
    }

    .page-content .tile .tags, .page-content .tile-wide .tags {
        font-size: 0.7rem;
    }

    #go-back {
        right: 1.45rem;
        bottom: 4%;
        height: 2rem;
        width: 2rem;
    }

    #menuToggle{
        right: 1.45rem;
    }

    #navigator {
        right: 1.45rem;
    }

    .chart{
        height: 300px;
   }

   .reveal-underlay{
        height: 80vh;
    }

    .slides-underlay{
        height: 80vh;
    }
}




@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait){
    #portfolio {
        margin-top: -17vh;
    }

    .h-line.above {
        width: 75vw;
        margin-top: 17vh;
    }

    .h-line.below {
        margin-top: 83vh;
        width: 75vw;
    }

    .v-line.right {
        height: 100vh;
        margin-left: 86vw;
    }

    .v-line.left {
        margin-left: 14vw;
        height: 100vh;
    }


    #menu li:hover {
        font-size: 30px;
    }

    .page-content .scrollto {
        height: 10px;
        padding-top: 0;
    }

   /*  #intro-text, #intro-text-back {
        padding: 300px 25px 300px 25px;
    }

    #intro-text-back {
        font-size: 25px;
    } */

    .vertical-text.intro-out-text {
        font-size: 1.2rem;
    }

    .postimgm {
        display: block;
    }

    .postimg {
        display: none;
    }

    .page-content .banner-split {
    display: block;
    width: 100%;
}

    .page-content .half {
        width: 100%;
    }

    .page-content .compressed-centered20 {
        width: 58%;
    }

    .page-content .compressed-centered40 {
        width: 89%;
    }

    .page-content .compressed-centered60, .slides-underlay .compressed-centered60 {
        width: 80%;
        font-size: 14px;
    }

    .page-content .mini-title {
        font-size: 14px;
    }

    .page-content .focus-title {
        font-size: 16px;
    }

    /* .page-content .tile-wide img {
        height: 161px;
    } */
    .page-content .center-padded.mini-title{
        padding: 50px 0px 50px 0px;
        font-size: 1rem;
    }

    .page-content .overview-right{
        padding: 0;
        padding-top: 50px;
    }

    .page-content .category, .title {
        font-size: 24px;
    }

    .page-content .center-padded-little {
        padding: 20px 20px 20px 20px;
    }

    .page-content .large-title {
        font-size: 32px;
    }

    .page-content .tile .tags, .page-content .tile-wide .tags {
        font-size: 0.7rem;
    }

    #go-back {
        right: 1.45rem;
        bottom: 4%;
        height: 2rem;
        width: 2rem;
    }

    #menuToggle{
        right: 1.45rem;
    }

    #navigator {
        right: 1.45rem;
    }

    .chart{
        height: 300px;
   }

   .reveal-underlay{
        height: 80vh;
    }

    .slides-underlay{
        height: 80vh;
    }
}


@media only screen and  (max-width: 480px) {

    #portfolio{
        margin-top: -47vh;
    }

    .navLink:link .navTag, .navLink:link .navTag {
       max-width: 0;
       padding: 0;
    }

    #navigator {
        right: 10px;
        display: none !important;
    }

    #horizontal-menu {
        display: none !important;
    }

    #menuToggle {
        display: block !important;
    }

    .navLink {
        height: 40px;
        width: 40px;
    }

    .page-content .large-title {
        font-size: 1.5rem;
    }

    .loading-logo-holder {
        width: 40px;
    }

    #loading-ripple {
        height: 50vw;
        width: 50vw;
        margin-top: 12vh;
        margin-left: 50%;
    }

    .site-logo-background {
        width: 20px;
        height: 20px;
        margin-top: 40px;
        margin-left: 20px;
    }

    .site-logo {
        width: 20px;
        margin-top: -2px;
        margin-left: 0px;
    }

    .intro-box-dimensions {
        width: 100%;
    }

    .site-intro-out {
        right: 45vw;
        bottom: 4%;
        height: 2rem;
        width: 2rem;
    }

    .intro-out-box {
        display: none;
    }

    #menuToggle span {
/*         width: 25px;
        height: 1.5px; */
        transform-origin: 4px 0px;
    }

    #menu li {
        font-size: 20px;
    }

    #menu li:hover {
        font-size: 40px;
    }

    .page-content .scrollto {   
        height: 10px;
        padding-top: 0;
    }

    #ux {
        font-size: 25px;
    }

    .postimgm {
        display: block;
    }

    .postimg {
        display: none;
    }

    .page-content .banner-split {
    display: block;
    width: 100%;
    }

    .page-content .half {
        width: 100%;
    }

    .page-content .aboutme {
        margin-top: 0vh;
        margin-bottom: 14vh;
    }

    .page-content .compressed-centered20 {
        width: 60%;
    }

    .page-content .compressed-centered40 {
        width: 80%;
    }

    .page-content .compressed-centered60, .slides-underlay .compressed-centered60 {
        width: 100%;
        font-size: 12px;
    }

    .page-content .mini-title {
        font-size: 10px;
    }

    .page-content .center-padded.mini-title{
        padding: 50px 0px 50px 0px;
        font-size: 1rem;
    }

    .page-content .overview-right{
        padding: 0;
        padding-top: 50px;
    }

    .page-content .category, .title {
    font-size: 18px;
    font-weight: 600 !important;
    }


    .page-content .center-padded-little {
        padding: 20px 20px 20px 20px;
    }

    .page-content .tile .tags, .page-content .tile-wide .tags {
        font-size: 0.7rem;
    }

    #go-back {
        right: 1.45rem;
        bottom: 4%;
        height: 2rem;
        width: 2rem;
    }

    #menuToggle{
        right: 1.45rem;
    }

    .page-content .center-padded {
        padding: 0px;
    }

    .site-footer nav ul li {
        
        padding : 0px 7vw;
    }

    .chart{
        height: 200px;
    }

    #project-nav {
        top: 0vh;
        width: 100vw;
        height: 7vh;
        border-radius: 0px;

    }

    #project-nav .text{
        font-size: 12px;
    }

    .page-content .focus-title {
        font-size: 14px;
    }

    .compressed-centered60.focus-box {
        border-radius: 0px; 
        box-shadow: none;
    }

    #rewards_reflection {
        margin-left: -10px;
    }

    .site-logo-holder{
        display: none;
    }

    #project-nav .animated-nav-button {
        padding-bottom: 8px;
    }

    #project-nav .animated-nav-button a .text{
        font-size: 12px;
    }

    #horizontal-menu-left{
        display: none;
    }

    .reveal-underlay{
        height: 90vh;
    }

    .slides-underlay{
        height: 90vh;
    }
}

@media only screen and (width: 768px) {
   /* default iPad screens */

    .vertical-text.intro-out-text {
        font-size: 1rem;
    }   
    
    .page-content .compressed-centered20 {
        width: 40%;
    }

    .page-content .compressed-centered40 {
        width: 50%;
    }

    .page-content .compressed-centered60, .slides-underlay .compressed-centered60 {
        width: 70%;
        font-size: 1rem;
    }

    .page-content .scrollto {
        height: 5px;
        padding-top: 0;
    }

    .page-content .center-padded {
        margin: 0px;
        padding: 50px 0px 50px 0px;
    }
    
    .chart{
        height: 200px;
   }
}

@media only screen and  (max-width: 385px) {
    .flip-container{
        width: 90%;
    }
    }

@media screen and (max-width: 768px) {
  .column-left {
    width: 100%;
  }
  .column-right {
    width: 100%;
  }

  .column-3 {
    width: 50%;
  }

  .control {
    position: absolute;
    margin-left: 65px;
    width: 24px;
    height: 24px;
    bottom: 0px;
    }

    #horizontal-menu-left{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .column-3 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .control {
        position: absolute;
        margin-left: 65px;
        width: 28px;
        height: 28px;
        bottom: 26px;
    }
}
