/*
------------------------------------------------------------
MEDIA TAGS
------------------------------------------------------------
*/

@media (hover: none) {
   .navLink:link .navTag, .navLink:link .navTag {
       max-width: 0;
       padding: 0;
   }
} 

@media (hover:hover) {
    .tint:before {
        content    : "";

        position   : absolute;
        display    : block;
        top        : 0;
        right      : 0;
        bottom     : 0;
        left       : 0;
        z-index    : 10;

        opacity    : 1;
        background : rgba(0,0,0, 0.1);

        transition : all .4s linear;
    }
    .tint:hover:before {
        z-index    : -1;

        opacity    : 0;
        background : none;
    }
}


@media only screen and  (min-width: 2000px) and  (orientation:landscape){
    .page-content .compressed-centered60 {
        width: 1467px;
    }

    .panel .column-right {
        left: -140px;
    }
}


@media only screen and (max-width: 1440px) and (max-height: 1024px) and  (orientation:landscape){

    .page-content .compressed-centered20 {
        width: 40%;
    }

    .page-content .compressed-centered40 {
        width: 60%;
    }

    .page-content .compressed-centered60 {
        width: 1008px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1024px) and (orientation:landscape){
    .panel .column-right {
        left: 60px;
    }

    .page-title {
        font-size: 46px;
    }

    .head-title {
        font-size: 46px;
    }

    .sub-title {
        font-size: 21px;
    }

    .box-text{
        width: 254px;
        font-size: 21px;
        letter-spacing: -1px;
    }

}

@media only screen and (max-width: 1440px) and (min-width: 1024px) and (orientation:portrait){
        /* styles for browsers larger than 1440px; */

    .panel .column-right {
        left: 60px;
    }

    .page-title {
        font-size: 36px;
    }

    .head-title {
        font-size: 36px;
    }

    .sub-title {
        font-size: 24px;
    }

    .box-text{
        width: 254px;
        font-size: 24px;
        letter-spacing: -1px;
    }

    .page-content .compressed-centered60 {
        width: 1008px;
    }

    .postimgm {
        display: block;
    }

    .postimg {
        display: none;
    }

}

/* different techniques for iPad screening */

@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:landscape){
    .panel .column-right {
        left: 35px;
    }

    .page-title {
        font-size: 32px;
    }

    .head-title {
        font-size: 32px;
    }

    .sub-title {
        font-size: 24px;
    }

    .box-text{
        width: 254px;
        font-size: 18px;
        letter-spacing: -1px;
    }

    .postimgm {
        display: none;
    }

    .postimg {
        display: block;
    }

    .page-content .compressed-centered60 {
        width: 100%;
        font-size: 14px;
    }

    .page-content .center-padded {
        padding: 50px 50px 50px 50px;
    }

    .page-content .page-title{
        font-size: 40px;
    }


    #menuToggle{
        right: 1.45rem;
    }

    #navigator {
        right: 1.45rem;
    }

}




@media only screen and (min-width: 481px) and (max-width: 1024px) and (orientation:portrait){

    .panel .column-right {
        left: 35px;
    }

    .page-title {
        font-size: 28px;
    }

    .head-title {
        font-size: 28px;
    }

    .sub-title {
        font-size: 18px;
    }

    .box-text{
        width: 254px;
        font-size: 18px;
        letter-spacing: -1px;
    }

    #menu li:hover {
        font-size: 30px;
    }


    .postimgm {
        display: block;
    }

    .postimg {
        display: none;
    }


    .page-content .compressed-centered60 {
        width: 90%;
        margin-left: 0px;
    }

    #menuToggle{
        right: 1.45rem;
    }

    #navigator {
        right: 1.45rem;
    }

    #portfolio-holder {
        padding-left: 0px;
        left: -50px;
    }
}


@media only screen and  (max-width: 480px) {

    .navLink:link .navTag, .navLink:link .navTag {
       max-width: 0;
       padding: 0;
    }

    #navigator {
        right: 10px;
        display: none !important;
    }

    #horizontal-menu {
        display: none !important;
    }

    #horizontal-menu-left {
        display: none !important;
    }

    #menuToggle {
        display: block !important;
        right: 1.45rem;
    }

    .navLink {
        height: 40px;
        width: 40px;
    }

    .intro-box-dimensions {
        width: 100%;
    }

    .postimgm {
        display: block;
    }

    .postimg {
        display: none;
    }

    .tile-wide {
        padding: 0 !important;
        margin: 0 !important;
    }

    .page-title {
        font-size: 32px;
    }

    .head-title {
        font-size: 32px;
    }

    .sub-title {
        font-size: 14px;
    }

    .box-text{
        width: 264px;
        font-size: 14px;
        letter-spacing: -1px;
    }

    .page-content {
        height: 500vh;
    }

    #go-back {
        right: 1.45rem;
        bottom: 4%;
        height: 2rem;
        width: 2rem;
    }
}

@media only screen and (width: 768px) {
   /* default iPad screens */

    .page-content .compressed-centered60 {
        width: 70%;
    }

    #portfolio {
        left: 285px;
    }
}

@media only screen and  (max-width: 385px) {
    .flip-container{
        width: 90%;
    }
    }

@media screen and (max-width: 750px) {
    .column-left {
        width: 100%;
    }

    .column-right {
        width: 100%;
        height: 10vh;
        margin-top: 100px;
        
    }

    .panel .column-right {
        padding: 60px;
    }

    .control {
        position: absolute;
        margin-left: 65px;
        width: 24px;
        height: 24px;
        bottom: 0px;
    }

    .page-content .compressed-centered60 {
        width: 100%;
        padding: 0;
        padding-top: 20px;
    }

    .panel .page-title {
        font-size: 32px;
    }

    .panel .box-text{
        width: 264px;
        font-size: 14px;
        letter-spacing: -1px;
    }

    .panel .column-right p, .panel .column-right div {
        margin:  auto;
        width: 264px;
    }

    #intro-holder {
        top: 10vh !important;
        transform:  none !important;
    }

    #portfolio {
        top: calc(10vh + 192px);
        left: 50%;
        transform: scale(0.7) translateX(-50%);
        transform-origin: left;
    }

    #intro-holder p {
        margin:  auto;
        text-align: center;
    }

    #horizontal-menu{
        right: 1.45rem;
    }

    #horizontal-menu-left {
        left: 1.45rem;
    }

    #horizontal-menu {
        display: none !important;
    }

    #menuToggle {
        display: block !important;
        right: 1.45rem;
    }

    #scroll-for-details > .text{
        float: none;
        margin:  auto;
    }

}

@media screen and (max-width: 750px) and (max-height: 820px) {

    #portfolio {
        top: calc(10vh + 150px);
        left: 50% ;
        transform: scale(0.7) translateX(-50%) ;
        transform-origin: left;
    }

    .page-title {
        font-size: 32px;
    }

    .head-title {
        font-size: 32px;
    }

    .sub-title {
        font-size: 14px;
    }

    .box-text{
        width: 264px;
        font-size: 14px;
        letter-spacing: -1px;
    }
}

@media screen and (max-width: 750px) and (max-height: 750px){
    .panel .column-right {
        margin-top: -10px;
        left:-15px;
    }
}

@media screen and (max-width: 400px) and (max-height: 750px){
    .panel .page-title {
        font-size: 18px;
    }

    .panel .sub-title {
        font-size: 12px;
    }

    .panel .box-text{
        width: 264px;
        font-size: 12px;
        letter-spacing: -1px;
    }
}

@media screen and (max-height: 550px){
    .page-title {
        font-size: 18px !important;
    }

    .head-title {
        font-size: 18px;
    }

    .sub-title {
        font-size: 12px;
    }

    .box-text{
        width: 264px;
        font-size: 12px;
        letter-spacing: -1px;
    }

    .scroll-downs{
        transform: scale(0.5);
        transform-origin: bottom;
    }

    .scroll-downs-text{
        transform: scale(0.5);
        transform-origin: center;
    }

    .panel .column-right {
        margin-top: -50px;
    }
}




