/*
------------------------------------------------------------
 NAVIGATOR
------------------------------------------------------------
*/

#navigator {
    position: fixed;
    top: 50%;
    right: 4.45rem;
    display: none;
    z-index: 90;
    -ms-transform: translate(0, -50%); /* IE 9 */
    -webkit-transform: translate(0, -50%); /* Chrome, Safari, Opera */
    transform: translate(0, -50%);
}
.navLink {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.hello .navLinkBox {
    opacity: 1;
}

.navLink:hover .navTag {
    max-width: 200px;
    padding: 0 10px 0 10px;
}



.navLinkBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.navTag {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 100%;
    overflow: hidden;
    padding: 0;
    line-height: 30px;
    height: 30px;
    max-width: 0px;
    white-space: nowrap;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    -webkit-transition: max-width 0.35s, padding 0.35s;
    -moz-transition: max-width 0.35s, padding 0.35s;
    transition: max-width 0.35s, padding 0.35s;
}
