/*
------------------------------------------------------------
SITE INTRO
------------------------------------------------------------
*/

/* Logo + Nav */
.site-nav {
    position: fixed;
    width: 100%;
    height: 90px;
    background: none;
    z-index: 100000;
    text-align: center;
    pointer-events: none;
    top: 0;
}


.site-intro {
    width: 100vw;
    height: 100vh;
    position: fixed;
    touch-action: auto !important;
}

.site-logo {
    width: 20px;
    margin-top: -8px;
    margin-left: 11px;
}

.site-logo-holder{
    position: absolute;
    width: 17%;
    text-align: left;
}

.site-logo-background{
    width: 60px;
    margin: 17px 40px;
    height: 60px;
    padding: 10px;
    pointer-events: all;
}

#intro-box {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: block;
}

.intro-box-dimensions{
    width: 100%;
    height: 425px;
    margin: 0 auto;
}


/* go-back arrow */

.arrow > svg {
    position     : relative;

    height       : 100%;
    width        : 100%;

    stroke-width : 2.5px;
}


/* Box */

.anim-front {
   /*  -webkit-animation : fadein 3s forwards;
    animation         : fadein 3s forwards;
    animation-name             : pulse;
    animation-duration         : 2s;
    animation-iteration-count  : infinite;
    transition-timing-function : cubic-bezier(.37,.01,0,.98); */
}   

.anim-back {
    -webkit-animation : fadein 3s forwards;
    animation         : fadein 3s forwards;
    animation-name             : pulse;
    animation-duration         : 4s;
    animation-iteration-count  : infinite;
    transition-timing-function : cubic-bezier(.37,.01,0,.98);
}


/* Ripples */

.ripple {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    width: 386px;
    height: 425px;
    border-radius: 15%;
    position:absolute;
    animation: ripple 2s linear infinite 4s;
    z-index: 0;
}

.ripple::before,
.ripple::after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 15%;
    animation: ripple 2s linear infinite 1s;
}

.ripple::after {
    animation: ripple 2s linear infinite 2s;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0.7rem rgba(100, 100, 100, 0.2);
     
    }
    100% {
        box-shadow: 0 0 0 7rem rgba(100, 100, 100, 0);
    }
}


