images/vae/designProcess/designProcess_colored.gif
images/vae/finalDesign/finalDesign.png
images/vae/finalDesign/finalDesign1.png
images/vae/ideation/designsheets.png
images/vae/ideation/ds1.png
images/vae/ideation/ds2.png
images/vae/ideation/ds3.png
images/vae/ideation/sketch1.png
images/vae/ideation/sketch2.png
images/vae/ideation/sketch3.png
images/vae/ideation/sketches.png
images/vae/prototype/IMG_2954.jpeg
