@keyframes background-zoom {
    0% {
        -webkit-transform :  scale(1);
        transform         :  scale(1);
    }

    50% {
        -webkit-transform :  scale(1.02);
        transform         :  scale(1.02);
    }

    100% {
        -webkit-transform :  scale(1);
        transform         :  scale(1);
    }
}