/*
------------------------------------------------------------
LOGO
------------------------------------------------------------
*/

@-webkit-keyframes el_h7ndiCniAZ_Animation{
97.78%{opacity: 1;}
98.89%{opacity: 0;}
0%{opacity: 1;}
100%{opacity: 0;}}
@keyframes el_h7ndiCniAZ_Animation{
97.78%{opacity: 1;}
98.89%{opacity: 0;}
0%{opacity: 1;}
100%{opacity: 0;}}
@-webkit-keyframes el_RhePzVXa68_Animation{
64.44%{opacity: 1;}
65.56%{opacity: 0;}
0%{opacity: 1;}
100%{opacity: 0;}}
@keyframes el_RhePzVXa68_Animation{
64.44%{opacity: 1;}
65.56%{opacity: 0;}
0%{opacity: 1;}
100%{opacity: 0;}}
@-webkit-keyframes el_I42O7XnN7o_Animation{
0%{opacity: 1;}
31.11%{opacity: 1;}
32.22%{opacity: 0;}
100%{opacity: 0;}}
@keyframes el_I42O7XnN7o_Animation{
0%{opacity: 1;}
31.11%{opacity: 1;}
32.22%{opacity: 0;}
100%{opacity: 0;}}
@-webkit-keyframes el_MpJaHJnBWf_GuH8sCLyy_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}}
@keyframes el_MpJaHJnBWf_GuH8sCLyy_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}}
@-webkit-keyframes el_pQ7x17ayhW_LzF7Zydbg_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}}
@keyframes el_pQ7x17ayhW_LzF7Zydbg_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}}
@-webkit-keyframes el_h7ndiCniAZ_uQ8qWl-yM_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}}
@keyframes el_h7ndiCniAZ_uQ8qWl-yM_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}}
@-webkit-keyframes el_I42O7XnN7o_r0EGpbukH_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-10950px, 0px);}}
@keyframes el_I42O7XnN7o_r0EGpbukH_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-10950px, 0px);}}
@-webkit-keyframes el_RhePzVXa68_D2MshhEiG_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);}}
@keyframes el_RhePzVXa68_D2MshhEiG_Animation{
0%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}
33.33%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}
66.67%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-3650px, 0px);}
100%{-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(-7300px, 0px);}}
#el_bsZm_3-afd * {  -webkit-animation-duration: 13s;animation-duration: 0s;animation-iteration-count: 1;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1); animation-play-state: paused;}
svg#el_bsZm_3-afd:hover *{ animation-play-state: running;  animation-iteration-count: infinite; animation-duration: 3s;}
#el_RhePzVXa68_D2MshhEiG{-webkit-animation-name: el_RhePzVXa68_D2MshhEiG_Animation;animation-name: el_RhePzVXa68_D2MshhEiG_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(3650px, 0px);}
#el_I42O7XnN7o_r0EGpbukH{-webkit-animation-name: el_I42O7XnN7o_r0EGpbukH_Animation;animation-name: el_I42O7XnN7o_r0EGpbukH_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(0px, 0px);}
#el_h7ndiCniAZ_uQ8qWl-yM{-webkit-animation-name: el_h7ndiCniAZ_uQ8qWl-yM_Animation;animation-name: el_h7ndiCniAZ_uQ8qWl-yM_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(7300px, 0px);}
#el_pQ7x17ayhW_LzF7Zydbg{-webkit-animation-name: el_pQ7x17ayhW_LzF7Zydbg_Animation;animation-name: el_pQ7x17ayhW_LzF7Zydbg_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(10950px, 0px);}
#el_MpJaHJnBWf_GuH8sCLyy{-webkit-animation-name: el_MpJaHJnBWf_GuH8sCLyy_Animation;animation-name: el_MpJaHJnBWf_GuH8sCLyy_Animation;-webkit-transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);transform: translate(0px, 0px) translate(0px, 0px) translate(14600px, 0px);}
#el_I42O7XnN7o{-webkit-animation-name: el_I42O7XnN7o_Animation;animation-name: el_I42O7XnN7o_Animation;opacity: 1;}
#el_RhePzVXa68{-webkit-animation-name: el_RhePzVXa68_Animation;animation-name: el_RhePzVXa68_Animation;opacity: 1;}
#el_h7ndiCniAZ{-webkit-animation-name: el_h7ndiCniAZ_Animation;animation-name: el_h7ndiCniAZ_Animation;opacity: 1;}